<div class="bg-color2 w-full h-full ">
  <div class="max-w-screen-xl flex flex-wrap items-left flex-col justify-between mx-auto p-4 font-roboto">
    <span class="text-left mt-16 pt-8 text-color4 text-xl ">Hi! My name is </span>
    <h1 class="text-left text-color5 text-7xl font-bold pt-4">Eren Budur</h1>
    <p class="pt-8 text-color4 text-xl break-normal w-1/2">I am a recent graduate from <a
      class="hover:underline underline-offset-4 text-color5" href="https://www.bu.edu/">Boston University</a>
      with a Bachelor of Arts in <span class="hover:underline underline-offset-4 text-color5">Computer Science</span>
      and a minor in <span class="hover:underline underline-offset-4 text-color5">Economics</span>.
    </p>

    <p class="pt-8 text-color4 text-xl break-normal w-1/2">

      I have recently started learning web development using Angular, and I am currently honing my backend skills by
      deepening my understanding of Node.js. I strive to become a full-stack developer who delivers clean and scalable
      code while maintaining a balance between technical expertise and interpersonal skills.

    </p>
    

    <p class="pt-8 text-color4 text-xl break-normal w-1/2">

      If you want to learn more about me, I recommend checking out my resume or looking at my GitHub and LinkedIn.

    </p>
  </div>

</div>
